Title: Small windmills put to the test
Date: 2009-04-19 21:15
Author: Kris De Decker
Category: High-tech Problems
Tags: micro wind turbines, microgeneration, small wind turbines, small windmills, test results
Slug: small-windmills-test-results
Status: published

  ------------------------------------------------------------------------
    
   
 ------------------------------------------------------------------------



A real-world test performed by the Dutch province of Zeeland (a very
windy place) confirms our [earlier
analysis]({filename}/posts/urban-windmills.md)
that small windmills are a fundamentally flawed technology ([test
results
here](http://kreeft.zeeland.nl/zeesterdoc/ZBI-O/ZEE/ZEE0/8012/801257_1.pdf),
pdf in Dutch). [Twelve of these much hyped
machines](http://provincie.zeeland.nl/milieu_natuur/windenergie/kleine_windturbines/de_turbines)
were placed in a row on an open plain (picture above). Their energy
yield was measured over a period of one year (April 1, 2008 - March 31,
2009), the average wind velocity during these 12 months was 3.8 meters
per second (note: [update on the wind
speed](http://www.lowtechmagazine.com/2009/04/small-windmills-test-results.html?cid=6a00e0099229e8883301156f3fcfba970c#comment-6a00e0099229e8883301156f3fcfba970c)
). Three windmills broke. Find the disappointing results of the others
below.

Picture: [Jeroen Haringman](http://www.solarwebsite.nl/).

----------------------------------------------------------------------------------------------------------------------------------------------

Small Wind Turbines
-------------------

- [Energy Ball
v100]({filename}/posts/urban-windmills.md)
(4,304 euro) : 73 kWh per year, corresponding to an average output of
8.3 watts- [Ampair
600](http://www.boost-energy.com/ampair/products_product1.asp) (8,925
euro) : 245 kWh per year or an average output of 28 watts-
[Turby](http://www.turby.nl/) (21,350 euro) : 247 kWh per year or an
average output of 28.1 watts- [Airdolphin](http://www.airdolphin.co.uk/)
(17,548 euro) : 393 kWh per year or an average output of 44.8 watts-
[WRE
030](http://www.crestaustralia.com.au/products/brochures/WRE.030.pdf)
(29,512 euro) : 404 kWh per year or an average output of 46 watts- [WRE
060](http://www.sowind.it/schtec/WRE.060.pdf) (37,187 euro) : 485 kWh
per year or an average output of 55.4 watts-
[Passaat](http://www.fortiswindenergy.com/products/wind-turbines/passaat)
(9,239 euro) : 578 kWh per year or an average output of 66 watts-
[Skystream](http://www.skystreamenergy.com/) (10,742 euro) : 2,109 kWh
per year or an average power output of 240.7 watts-
[Montana](http://www.fortiswindenergy.com/products/wind-turbines/montana)
(18,508 euro) : 2,691 kWh per year or an average power output of 307
watts.

Keep in mind that these windmills would perform considerably worse in a
built-up area.

47 windmills to power a household
---------------------------------

An average Dutch household consumes 3,400 kWh/year. Listed below is the
amount of windmills required, and their total cost, to power a Dutch
household entirely using wind energy:

- Energy Ball : 47 windmills (202,288 euro)- Ampair : 14 windmills
(124,950 euro)- Turby : 14 windmills (298,900 euro)- Airdolphin : 9
windmills (157,932 euro)- WRE 030 : 9 windmills (265,608 euro)- WRE 060
: 7 windmills (260,309 euro)- Passaat : 6 windmills (55,434 euro)-
Skystream : 2 windmills (21,484 euro)- Montana : 2 windmills (37,016
euro)

An average American household consumes almost [3 times
more](http://tonto.eia.doe.gov/ask/electricity_faqs.asp#electricity_use_home)
electricity than a Dutch household. Simply multiply the above figures by
three.

Rotor diameter

At first sight, the results seem to indicate that the design of the
windmill matters. However, if you combine these figures with the rotor
diameter, it becomes clear that the concept of small windmills is
fundamentally flawed. The turbines that score best, are simply the
largest ones:

- Energy Ball : 1 meter- Ampair : 1.7 meter- Turby : 2 meter- Airdolphin
: 1.8 meter- WRE 030 : 2.5 meter- WRE 060 : 3.3 meter- Passaat : 3.12
meter- Skystream : 3.7 meter- Montana : 5 meters

Windmills with a rotor diameter of 4 or 5 meters do not fit on most
roofs, and are not easy to integrate in a built-up environment.

Size matters

Close to the test site stands a (relatively) large windmill with a rotor
diameter of [18
meters](http://www.ecologik.ca/pdf/Wind%20Page/Lagerwey%20File/LW18-80description.pdf).
It delivers 143,000 kWh per year, or an average power output of 16,324
watts. It can power 42 Dutch households. This large windmill costs only
slightly more than all small windmills combined (17 percent more, to be
exact, or 190,000 euro), but it delivers almost 20 times more energy.
This comes down to 4,523 euro per household.

Wind power rules, but small windmills are a swindle. Bigger is, in this
case, better.

© Kris De Decker (edited by Vincent Grosjean)

Thanks to [Jeroen Haringman](http://www.solarwebsite.nl/) & [Jaap
Langenbach](http://home.kpn.nl/windsh/wsh.html) / Dutch readers can find
a longer version of the article
[here](http://www.lowtechmagazine.be/2009/05/testresultaten-kleine-windturbines.html).

----------------------------------------------------------------------------------------------------------------------------------------------

Related Articles:



-   [How to get your apartment off the
    grid]({filename}/posts/how-to-go-off-grid-in-your-apartment.md)
-   [Slow electricity: the return of DC
    power]({filename}/posts/slow-electricity-the-return-of-low-voltage-dc-power.md)?
-   [How sustainable is PV solar
    power]({filename}/posts/how-sustainable-is-pv-solar-power.md)?
-   [How sustainable is stored
    sunlight]({filename}/posts/sustainability-off-grid-solar-power.md)?

