{% extends "index.html" %}
{% block body_class %}
<body class = "{{category|lower|truncate(3,True, '')}}">
{% endblock body_class %}

{% block content %}
<section id="content">
  {% block content_title %}
  <h1>{{ category }}</h1>
  {% endblock %}

<ul id="post-list">
{% for article in articles_page.object_list %}
        <li class = "{{article.category|lower|truncate(3,True, '')}}"><article>
            <header> <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2> </header>

            {% if article.featured_image %}
            <div class="featured-img"><img src="{{ article.featured_image }}">
            </div>
            {% endif %}

            {% if article.summary %}
            <p class="index-summary">{{ article.summary }}</p>
            {% endif %}

            <time class="published" datetime="{{ article.date.isoformat() }}">&larr; {{ article.date|strftime('%B %Y')}}</time>
        </article></li>
{% endfor %}
</ul>
</section><!-- /#content -->
{% endblock content %}
